#wrapper{
    margin-bottom:55px;
    margin-top:55px;
}
#refreshbtn {
    margin-top:5px;
}
.picklabel {
    color:#fff;
    margin-top:5px;
}
#loader .modal-content{
    margin-top:45%;
    width:50%;
    margin-left:25%;
    color:#000;
}